//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Navicon menu
.menu-toggle {
	display: block;

	.icon {


		display: inline-block;
		fill: $white;
		margin-right: rem-calc(5);
		vertical-align: middle;
	}

	.menu-toggle-text {
		display: inline-block;
		vertical-align: middle;
	}

	@include breakpoint(small) {
		display: none;
	}
}

// Main navigation container
.main-navigation {
	@include size(100% auto);

	clear: both;
	display: block;
	float: left;

	// Menu area
	ul {
		display: none;

		@include breakpoint(small) {
			display: block;
		}
	}

	&.toggled ul {
		display: block;
	}
}

// Menu defaults
.menu {
	@include list-reset;

	li {
		margin: 0 rem-calc(10) 0 0;
	}

	ul {
		@include list-reset;
	}

	&.menu-horizontal {

		li {
			display: inline-block;
		}
	}

	&.menu-vertical {

		li {
			margin: 0;
		}

		a {
			border-bottom: 1px solid $color-background-hr;
			padding: rem-calc(10);
		}
	}

	&.dropdown {

		// Sub-menu
		ul {
			box-shadow: 0 3px 3px rgba($black, 0.2);
			float: left;
			left: -999em;
			position: absolute;
			top: rem-calc(24px);
			z-index: 99999;

			// Sub-sub menu
			ul {
				left: -999em;
				top: 0;
			}

			// Sub-menu items
			li {

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			// Sub-menu links
			a {
				@include size(rem-calc(200) auto);
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		// Display sub-menu on hover
		li:hover > ul,
		li.focus > ul {
			left: auto;
		}

		// Menu items
		li {
			float: left;
			position: relative;

			&:hover > a,
			&.focus > a {
			}
		}
	}

	// Menu hyperlinks
	a {
		display: block;
		text-decoration: none;
	}

	// Current items
	.current_page_item a,
	.current-menu-item a {
	}
}

// Other navigation
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 rem-calc(24) 0;
		overflow: hidden;
	}

	& .nav-previous {
		@include size(50% auto);

		float: left;
	}

	& .nav-next {
		@include size(50% auto);

		float: right;
		text-align: right;
	}
}