// 33. Title Bar
// -------------

$titlebar-background: $color-soft-black;
$titlebar-color: $color-soft-black;
$titlebar-padding: 0.5rem;
$titlebar-text-font-weight: bold;
$titlebar-icon-color: $color-soft-black;
$titlebar-icon-color-hover: $medium-gray;
$titlebar-icon-spacing: 0.25rem;